@using Statiq.Common;
@using Grynwald.Extensions.Statiq.DocsTemplate;
@{
    var statiqDocument = ViewData.GetStatiqDocument();
}

<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark shadow">
    <a class="navbar-brand" href="#">@statiqDocument.GetString(DocsTemplateKeys.SiteName)</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>
